.logo {
  margin: 4rem 0;
  cursor: pointer;
}

.posts {
  a {
    display: block;
    & + a {
      margin-top: 3.125rem;
    }

    transition: color 0.2s;
    color: var(--gray-50);
    &:hover {
      color: var(--pink-500);
    }

    strong {
      display: block;
      font-size: 1.6875rem;
      font-weight: 700;
      margin-bottom: 0.625rem;

    }

    p {
      font-weight: 400;
      font-size: 1.125rem;
      color: var(--gray-100);
      margin-bottom: 1.5rem;
    }

    .data_post {
      display: flex;
      flex-direction: row;

      span {
        display: flex;
        align-items: center;
        color: var(--gray-100);

        svg {
          margin-right: 0.625rem;;
        }

        & + span {
          margin-left: 1.875rem;
        }

      }
    }
  }

  button {
    color: var(--pink-500);
    outline: 0;
    background: transparent;
    border: 0;
    font-weight: 600;
    font-size: 1.125rem;
    margin-top: 3.75rem;
  }
}
